{{#is "post"}}
    <header id='main-header' class="ctx-post{{#if page}} ctx-page{{/if}}{{#if featured}} ctx-featured{{/if}}{{#if image}} ctx-image{{/if}}">
        {{#if featured}}
        <div class="container-fluid vcenter fullwidth">
            <div class="row" id="title">
                <div class="col-sm-12 text-center">
                    <p class="h1 fade-in-down">{{title}}</p>
                </div>
            </div>
        </div>
        {{/if}}
        {{^if no-animation}}
            <canvas id="main-header-canvas" class="hidden-xs"></canvas>
        {{/if}}
    </header>
{{else}}
    {{#is "page"}}
        <header id='main-header' class="ctx-page{{#if featured}} ctx-featured{{/if}}{{#if image}} ctx-image{{/if}}" data-cover="{{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}}">
            {{#if featured}}
                <div class="container-fluid vcenter fullwidth">
                    <div class="row" id="title">
                        <div class="col-sm-12 text-center">
                            <p class="h1 fade-in-down">{{title}}</p>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{^if no-animation}}
                <canvas id="main-header-canvas" class="hidden-xs"></canvas>
            {{/if}}
        </header>
    {{else}}
        <header id='main-header' class="ctx-index{{#is "paged"}} ctx-paged{{/is}}" {{#if @blog.cover}}data-cover="{{@blog.cover}}{{/if}}">
            <div class="container-fluid vcenter fullwidth">
                <div class="row" id="title">
                    <div class="col-sm-12 text-center">
                        <h1 class="fade-in-down">{{@blog.title}}</h1>
                    </div>
                </div>
                <div class="row" id="subtitle">
                    <div class="col-sm-12 text-center">
                        <p class="fade-in-down">{{@blog.description}}<p>
                    </div>
                </div>
            </div>
            {{^if no-animation}}
                <canvas id="main-header-canvas" class="hidden-xs"></canvas>
            {{/if}}
        </header>
    {{/is}}
{{/is}}