<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{@blog.title}}</title>
    <meta name="description" content="{{@blog.description}}">
    <base href="{{@blog.url}}">
    {{ghost_head}}
</head>
<body class="{{body_class}}">
{{{body}}}
{{ghost_foot}}
</body>
</html>