<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{@blog.title}}</title>
    <meta name="description" content="{{@blog.description}}">
    <base href="{{@blog.url}}">
    <link href="{{asset "css/reset.css"}}" rel="stylesheet">
    <link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet">
    <link href="{{asset "css/style.css"}}" rel="stylesheet">
    {{#if @blog.logo}}
    <link rel="shortcut icon" href="{{@blog.logo}}" type="image/png">
    <link rel="icon" href="{{@blog.logo}}" type="image/png">
    {{/if}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<div id="main-wrapper">
{{{body}}}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{{#if @blog.cover}}
    <script src="{{asset "js/backstretch.min.js"}}"></script>
    <script>
        $("#main-header").backstretch("{{@blog.cover}}");
    </script>
{{/if}}
<script src="{{asset "js/header-animate.js"}}"></script>
{{ghost_foot}}
</body>
</html>