{{!< default}}
{{#post}}
{{> header cover=image}}
{{> navbar}}
{{! Here goes the content}}
<div id="main-content" class="post">
    <div class="container">
        <div class="row">
            <article class="{{post_class}} col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <header>
                    <h1 class="title">{{title}}</h1>
                    <time class="small" datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-calendar-o"></i>{{date format="MMMM DD, YYYY"}}</time>
                </header>
                <section class="text-justify">
                    {{content}}
                </section>
                {{#if tags}}
                    <footer class="hidden-xs">
                        <hr/>
                        <ul class="list-inline">
                            {{#foreach tags}}
                                <li>
                                    <a href="{{url}}" title="{{name}}" class="tag-{{id}} label label-primary"><i class="fa fa-tag"></i>{{name}}</a>
                                </li>
                            {{/foreach}}
                        </ul>
                    </footer>
                {{/if}}
            </article>
        </div>

        {{> pagination}}

        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'fredericwoelffel';
                    var disqus_identifier = '{{post.id}}';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
    </div>
</div>
{{> footer}}
{{/post}}